@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(./quantum-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 3em;
}

.header {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: medium;
    text-align: center;
}

.header h1 {
    margin: 10px;
}

ul li {
    /* position: relative; */
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    /* background: #eee; */
    font-size: 18px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.li-left {
    display: flex;
    align-items: baseline;
}

button {
    padding: 4px;
    background-color: rgb(113, 238, 238);
}

.done {
    text-decoration: line-through;
}

.deleteBtn {
    justify-self: flex-end;
}

.container {
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* position: absolute; */
    width: 40%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    min-height: 100px;
}

footer {
    text-align: center;
    align-items: end;
}

.current {
    background-color: lightblue;
}

#editTextPopupWrapper {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(100, 100, 100, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
    border: 2px green solid;
    top: 0;
    left: 0;
}

#editTextPopup {
    background-color: lightgray;
    border: solid black 2px;
    border-radius: 20px;
    padding: 2em;
}

#makeNewToDoForm {
    display: flex;
    justify-content: space-around;
    border-style: hidden;
}

#makeNewToDoForm h1 {
    margin-bottom: 1em;
}

.newTaskInput {
    border-style: hidden;
    background-color: rgb(240, 244, 244);
    padding: 0 2em 0 2em;
    border-radius: 20px;
}
